<h1>
  Subject: A standard observable that listens to inputs and broadcasts those
  events to all subscribers
</h1>
<a href="https://www.learnrxjs.io/learn-rxjs/subjects/subject"
  >RxJs Subjects Docs</a
><br /><br />
<label>Input Temperature </label>
<input type="number" (change)="setInputTemperature($event)" />
<button (click)="setTemperature()">Set Temperature</button>
<br />
<h3>Current Temperature: {{ displayTemp }}</h3>
<br />
<button (click)="convertToCelsius()">Convert To Celsius</button>
<button (click)="convertToFahrenheit()">Convert To Fahrenheit</button>
<br /><br /><br />
<table>
  <tr>
    <th>Subject</th>
    <th>BehaviourSubject</th>
  </tr>
  <tr>
    <td>
      <ul>
        <li>Does not require initial value</li>
        <li>Does not immediately emit current value for new subscriptions</li>
        <li>broadcasts events to every subscriber for every new value</li>
      </ul>
    </td>
    <td>
      <ul>
        <li>Requires initial value</li>
        <li>Emits current value on subscription</li>
        <li>Broadcasts events to every subscriber for every new value</li>
      </ul>
    </td>
  </tr>
</table>
<br />
<p>
  For this use case, we'll want to use a regular Subject. This is because we're
  not interested in the previous or current values.<br /><br />
  We'll only start converting the value when the user clicks on the conversion
  button.<br /><br />
  We can't use a BehaviorSubject like before because a BehaviorSubject will emit
  the current value to every new subscription. Subjects, on the other hand, will
  not emit anything to new subscribers, only listening to the values that are
  passed in.
</p>
